<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
    var interval = 2000;
      /*setInterval(function(){
        $.getJSON('/snapshots/cards_difference', function(data) {
          if(data.cards_differences.cards_difference.length != 0){
            console.log("switching view");
            $("#cards").text(data.cards_differences.cards_difference);
          }
          else{
            console.log("else");
          }

      })
    }, interval);*/

      index = 0;
      setInterval(function(){
        $.getJSON('/tricks/1/1', function(data) {
            if (index < data.tricks.trick_index){
                players = ["N", "E", "S", "W"];
                s = ""
                players.forEach(function(entry){
                    s += data.tricks.tricks[entry][index];
                    s += ", ";
                })
                $("#cards").text(s);

                var tableRef = document.getElementById('tabela');

                var newRow   = tableRef.insertRow(tableRef.rows.length);

                var newCell1  = newRow.insertCell(0);
                var newCell2  = newRow.insertCell(1);
                var newCell3  = newRow.insertCell(2);
                var newCell4  = newRow.insertCell(3);
                var newCell5  = newRow.insertCell(4);

                var newText1  = document.createTextNode(index+1);
                var newText2  = document.createTextNode(data.tricks.tricks["N"][index]);
                var newText3  = document.createTextNode(data.tricks.tricks["E"][index]);
                var newText4  = document.createTextNode(data.tricks.tricks["S"][index]);
                var newText5  = document.createTextNode(data.tricks.tricks["W"][index]);

                newCell1.appendChild(newText1);
                newCell2.appendChild(newText2);
                newCell3.appendChild(newText3);
                newCell4.appendChild(newText4);
                newCell5.appendChild(newText5);

                if(index == 0){
                    players.forEach(function(entry) {
                        var el = document.getElementById(entry)
                        child = el.childNodes[0];
                        arr = eval(child.innerHTML);
                        ind = arr.indexOf(data.tricks.tricks[entry][index])
                        arr.splice(ind, 1);
                        arr = arr.join(", ");
                        child.innerHTML = arr
                    });
                }
                else{
                    players.forEach(function(entry) {
                        var el = document.getElementById(entry)
                        child = el.childNodes[0];
                        arr = child.innerHTML.split(",");
                        ind = arr.indexOf(data.tricks.tricks[entry][index])
                        arr.splice(ind, 1);
                        child.innerHTML = arr
                    });
                }

                index +=1
            }
            console.log(data);
            data.tricks.tricks
            data.tricks.trick_index
      })
    }, interval);
    </script>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    {% if title %}
    <title>{{ title }} - welcome, welcome!</title>
    {% else %}
    <title>Welcome to my homepage</title>
    {% endif %}
  </head>
  <body>
      <h1>Hello, man!</h1>
      <div class="container">
      	<div id="N"><div class="centered">{{ north }}</div></div>
      	<div id="W"><div class="centered">{{ east }}</div></div>
      	<div id="cards_on_the_table">CARDS ON THE TABLE:
          <div class="centered">
            <div id="cards">

            </div>
          </div>
        </div>
      	<div id="E"><div class="centered">{{ west }}</div></div>
      	<div id="S"><div class="centered">{{ south }}</div></div>
      </div>
      <div class="container2">
        <div class="tricks">
            <table id="tabela">
                    <tr>
                        <th>trick no</th>
                        <th>N</th>
                        <th>E</th>
                        <th>S</th>
                        <th>W</th>
                    </tr>
            </table>
        </div>
       </div>
  </body>
</html>

